*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    background: #283747 

}
nav{
    
}
a{
    font-size: 18px;
    color: azure;
    text-decoration: none;
    margin: 25px;
    
}
a:hover{
    color: black;
}
main{
    width: 90%;
    
    margin: auto;
    height: 1000px;
}
.card{
    min-width: 250px;
    min-height: 230px;
}
.tachar{
    text-decoration: line-through;

}