<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg ">

        <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon" ></span></button>


    <div class="collapse navbar-collapse justify-content-center a" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active mt-3">
                <a href="" class="">LINK</a>
            </li>
            <li class="nav-item active mt-3">
                <a href="" class="">LINK</a>
            </li>
            <li class="nav-item active mt-3">
                <a href="" class="">LINK</a>
            </li>
        </ul>

    </div>
</nav>  


<main class="">

    
    <div class="d-flex flex-wrap text-center">
        <div>
        <div class="card m-5">
            <div class="card-header fw-bold">Tiempo para tarea</div>
            <div class="card-body ">
                <p>Tarea a realizar</p>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outline">
            <button type="button" class="btn  btn-outline-primary">Eliminar</button>
            <button type="button" class="btn  btn-outline-primary">Editar</button>
            <button type="button" class="btn  btn-outline-primary">Completar</button>
        </div>
        </div>

        <div>
            <div class="card  m-5">
                <div class="card-header fw-bold">Tiempo para tarea</div>
                <div class="card-body ">
                    <p>Tarea a realizar</p>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outline">
                <button type="button" class="btn  btn-outline-primary">Eliminar</button>
                <button type="button" class="btn  btn-outline-primary">Editar</button>
                <button type="button" class="btn  btn-outline-primary">Completar</button>
            </div>
            </div>
            <div>
                <div class="card  m-5">
                    <div class="card-header fw-bold">Tiempo para tarea</div>
                    <div class="card-body ">
                        <p>Tarea a realizar</p>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic outline">
                    <button type="button" class="btn  btn-outline-primary">Eliminar</button>
                    <button type="button" class="btn  btn-outline-primary">Editar</button>
                    <button type="button" class="btn  btn-outline-primary">Completar</button>
                </div>
                </div>
        
    </div>

</main>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>